<h1>Matches</h1>
<ul id='matches' class='list mt-5 mb-5'>
<% @matches.each do |match| %>
  <li>
    <article class="card">
      <% if match.avatar.attached? then %>
        <%= image_tag match.avatar.variant(resize: "720x720"), class: 'card-img-top', alt: :avatar %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/728x90.png?text=No+Picture+Provided", class: 'card-img-top', alt: :avatar %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= match.email %></h5>
        <p class="card-text"><%= match.description %></p>
      </div>
    </article>
  </li>
<% end %>
</ul>
