.log-in, .sign-up {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__inner {
    width: 100%;
    max-width: 400px;
  }
}

#edit_user {
  max-width: 32em;

  input:not([type=radio]), textarea {
    border-radius: 4px;
    padding: 0.5em 0.75em;
    width: 100%;
  }

  // not working - presuming due to lack of bootstrap in ruby env
  // @include media-breakpoint-up(md) {
  @media screen and (min-width: 768px) {
    input[type=submit] {
      max-width: 5em;
    }
  }
}